<ul>
  <% @dishes.each do |dish| %>
    <li>
      <%= dish.name.humanize %><br/>
      <%= dish.description.humanize %>
      Price: <%= dish.price %>kr
      Ready for pick-up at <%= dish.ready_time.strftime('%H:%M') %>
      <%= dish.portions %> portions left
      <!--button, om du klickar så läggs dish med id="dish.id" till min lista-->
      tag("input", type: 'button', class: "button", value: "Add dish")
    </li>
  <% end %>
</ul>
